.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 0.3fr;
    grid-template-areas: ". . . ." "SubInfo CuadroInfo CuadroInfo SubInfo2" ". . . .";
}

.CuadroInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". Textcenter ." ". Textcenter .";
    grid-area: CuadroInfo;
}

.Textcenter {
    grid-area: Textcenter;
}

.SubInfo {
    grid-area: SubInfo;
}

.SubInfo2 {
    grid-area: SubInfo2;
}
