.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.1fr 0.4fr;
    grid-template-areas: ". . . ." ". LOGIN LOGIN ." ". . . .";
}

.LOGIN {
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.2fr 1.8fr 1fr;
    grid-template-areas: ". . ." ". log ." ". . .";
    grid-area: LOGIN;
}

.log {
    grid-area: log;
}
